<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header"></head>
<body> 
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<h1>Email Change</h1>
				</div>
			</div>
			<div class="row" th:if="${emailChangeStatus=='error'}">
				<div class="col-xs-12 col-md-12">
					<div class = "alert alert-danger">
						<a href = "#" class = "close" data-dismiss = "alert">&times;</a>
   						<strong>login error</strong>
					</div>
				</div>
			</div>
			<form action="/email-change" method="POST">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class = "form-group">
		      				<label for = "name">UID</label> 
		      				<input type="text" class="form-control" name="uid" value="4894"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class = "form-group">
		      				<label for = "email">New Email</label> 
		      				<input type="email" class="form-control" name="newEmail" value="fkaveinga@columbususa.com"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class = "form-group">
		      				<input class = "btn btn-default" type = "submit" value = "Submit"/>
		      				<a href="/" class = "btn btn-default">home</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
</body>
<footer th:include="footer"></footer>
</html>