
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- AngularJS -->
<script th:src="@{/bower_components/angular/angular.js}"></script>
<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>

<!-- app setup -->
<script th:src="@{/app/app.module.js}"></script>
<script th:src="@{/app/app.state.js}"></script>
<script th:src="@{/app/navbar.js}"></script>

<!-- home -->
<script th:src="@{/app/home/home.state.js}"></script>
<script th:src="@{/app/home/home.controller.js}"></script>

<!-- login -->
<script th:src="@{/app/login/login.state.js}"></script>
<script th:src="@{/app/login/login.controller.js}"></script>

<!-- logout -->
<script th:src="@{/app/logout/logout.state.js}"></script>
<script th:src="@{/app/logout/logout.controller.js}"></script>

<!-- user -->
<script th:src="@{/app/user/user.state.js}"></script>
<script th:src="@{/app/user/user.controller.js}"></script>

<!-- user - service -->
<script th:src="@{/app/services/user.service.js}"></script>



