<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Security SSO</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>

<body>
<div class="container">
	<div class="col-sm-12">
		<h1>Instagram Secured Page</h1>
		Welcome, <span th:text="${#authentication.name}">Name</span>
		<br/>
        Your authorities are <span th:text="${#authentication.authorities}">authorities</span>        
		<br/>
		<a class="btn btn-link" href="http://localhost:8083/ui2/secure">Go To Facebook</a>
		<a class="btn btn-link" href="http://localhost:8082/ui/logout">logout</a>
	</div>
</div>
</body>
</html>