<div class="row" ng-controller="DemoRadioBtnController as form">
	<div class="col-xs-12 col-md-12">
		<form role = "form">
			<label>{{form.data.fieldQuestion}}</label>
			<span>
    					({{form.data.fieldHelperDescription}})
			</span>
			<span class="text-danger" ng-if="error">{{form.data.fieldRequiredErrorMessage}}</span>
   			<div class = "form-group" ng-repeat="count in form.transient.counts track by $index">
      			<div class = "radio">
 					<label>
						<input type = "radio" ng-model="form.field" name = "values" value = "{{form.data.values[$index]}}"> {{form.data.values[$index]}}
 					</label>
				</div>
			</div>
			<div class = "form-group" ng-if="form.field=='other'">
    				<input type = "text" ng-model="form.data.otherValue" class = "form-control" placeholder = "">
 			</div>
		</form>
		<!-- Field: {{form.field}}
		<br>
		<b>Form</b>
		<br>
		<pre>{{form | json}}</pre> -->
	</div>
</div>
<br>