<style>
.errorMessage{
	color: red;
}
/* password requirements */
.passwordRequirement{
	list-style: none;
}
.passwordRequirement > li::before {
	display: inline-block; 
	width: 2em;
	margin-left: -1em
}
.passwordRequirementValid::before{
	content: "\2714"; 
	color: green;
}
.passwordRequirementInvalid::before{
	content: "\25C9"; 
	color: red;
}

</style>
<div class="row" ng-controller="ValidationController as validator">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
		
    	<h2>Hello from, Validation Page</h2>
    	
    	<h3>Password Validation</h3>
    	<div class="row">
			<div class="col-xs-12 col-md-12">
				<form action="" name="passwordValidation">
					<div class="row">  
						<div class="col-xs-12 col-sm-12">	
							<h4>Password Requirements</h4>
							<ul class="passwordRequirement">
								<li class="passwordRequirementInvalid" id="lengthRequirement">Must be at least 10 characters in length</li>
								<li class="passwordRequirementInvalid" id="numberRequirement">Must have at least one number</li>
								<li class="passwordRequirementInvalid" id="uppercaseRequirement">Must have at least one uppercase character</li>
								<li class="passwordRequirementInvalid" id="symbolRequirement">Must have at least one symbol: (~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/)</li>
							</ul>
						</div>
					</div> 
					<div class="row">  
	                	<div class="col-xs-12 col-sm-12">	
	                		<label>New Password <span class="asterisk">*</span></label> {{validator.pwdData.password}}
	                	</div>
					</div>                                          
	               	<div class="row"><!--  autofocus="true" -->
	                	<div class="col-xs-12 col-sm-12">	
	                   		<input ng-keyup="validator.validatePassword(validator.pwdData.password)" ng-required="true" name="password" ng-model="validator.pwdData.password" class="form-control" type="password"/>
	                	</div>
					</div>
					<!-- password $dirty: {{passwordValidation.password.$dirty}}
					<br>
					password $touched: {{passwordValidation.password.$touched}}
					<br>
					password $valid: {{passwordValidation.password.$valid}}
					<br>
					password $invalid: {{passwordValidation.password.$invalid}} -->
					<div class="errorMessage" ng-if="passwordValidation.password.$touched && passwordValidation.password.$invalid">Password not valid</div>
	                <div class="row">  
						<div class="col-xs-12 col-sm-12">	
	                		<label>New Password Confirm <span class="asterisk">*</span></label> {{validator.pwdData.confirmPassword}}
	                	</div>
					</div>
					                                 
	               	<div class="row">  
	                	<div class="col-xs-12 col-sm-12">	
	                		<input name="confirmPassword" ng-keyup="validator.validateConfirmPassword(validator.pwdData.confirmPassword)" compare-to="validator.pwdData.password" ng-model="validator.pwdData.confirmPassword" ng-required="true" class="form-control" type="password"/>
	                	</div>
					</div>
					<!-- confirm password $valid: {{passwordValidation.confirmPassword.$valid}} -->
					<div class="errorMessage" ng-if="passwordValidation.confirmPassword.$touched && passwordValidation.confirmPassword.$invalid">
						Password not matched
					</div>
					<br/>
					<div class="row">  
						<div class="col-xs-12 col-sm-12">	
							<button class = "btn btn-default btn-lg btn-block" ng-click="validator.submitPasswordValidation()" ng-disabled="passwordValidation.$invalid">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
    		<br>
    		<br>
    		<br>
    		<br>
    		<br>
	</div>
</div>