<!-- jQuery -->
<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>

<!-- Custom Fonts -->
<link href="/library/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    
<!-- AngularJS -->
<script th:src="@{/bower_components/angular/angular.js}"></script>
<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>

<!-- app setup -->
<script th:src="@{/form_elements/app.module.js}"></script>
<script th:src="@{/form_elements/app.state.js}"></script>
<script th:src="@{/form_elements/app.constants.js}"></script>

<!-- checkboxes -->
<script th:src="@{/form_elements/checkboxes/form.state.js}"></script>
<script th:src="@{/form_elements/checkboxes/form.controller.js}"></script>
<script th:src="@{/form_elements/checkboxes/form.service.js}"></script>

<!-- checkboxes with input -->
<script th:src="@{/form_elements/checkboxes-with-input/form.state.js}"></script>
<script th:src="@{/form_elements/checkboxes-with-input/form.controller.js}"></script>
<script th:src="@{/form_elements/checkboxes-with-input/form.service.js}"></script>

<!-- radiobtns -->
<script th:src="@{/form_elements/radiobtns/form.state.js}"></script>
<script th:src="@{/form_elements/radiobtns/form.controller.js}"></script>
<script th:src="@{/form_elements/radiobtns/form.service.js}"></script>

<!-- radiobtns with textarea -->
<script th:src="@{/form_elements/radiobtns-with-textarea/form.state.js}"></script>
<script th:src="@{/form_elements/radiobtns-with-textarea/form.controller.js}"></script>
<script th:src="@{/form_elements/radiobtns-with-textarea/form.service.js}"></script>

<!-- input -->
<script th:src="@{/form_elements/input/form.state.js}"></script>
<script th:src="@{/form_elements/input/form.controller.js}"></script>
<script th:src="@{/form_elements/input/form.service.js}"></script>

<!-- textarea -->
<script th:src="@{/form_elements/textarea/form.state.js}"></script>
<script th:src="@{/form_elements/textarea/form.controller.js}"></script>
<script th:src="@{/form_elements/textarea/form.service.js}"></script>
