<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    	<div class="btn-group btn-group-justified">
		    <div class="btn-group">
		    		<a href="/" type="button" class="btn btn-default">Home</a>
		    </div>
		    <div class="btn-group">
		        
		        <div class = "dropdown">
				   <button type = "button" class = "btn dropdown-toggle" id = "dropdownMenu1" data-toggle = "dropdown">
				      Checkbox
				      <span class = "caret"></span>
				   </button>
				   
				   <ul class = "dropdown-menu" role = "menu" aria-labelledby = "dropdownMenu1">
				      <li role = "presentation">
				         <a role = "menuitem" tabindex = "-1" href="#!/checkbox">Regular</a>
				      </li>
				      
				      <li role = "presentation">
				         <a role = "menuitem" tabindex = "-1" href = "#!/checkbox-with-input">With Input</a>
				      </li>
				   </ul>
				</div>
		    </div>
		    <div class="btn-group">
		    		<div class = "dropdown">
				   <button type = "button" class = "btn dropdown-toggle" id = "dropdownMenu2" data-toggle = "dropdown">
				      Radio Button
				      <span class = "caret"></span>
				   </button>
				   
				   <ul class = "dropdown-menu" role = "menu" aria-labelledby = "dropdownMenu2">
				      <li role = "presentation">
				         <a role = "menuitem" tabindex = "-1" href="#!/radio">Regular</a>
				      </li>
				      
				      <li role = "presentation">
				         <a role = "menuitem" tabindex = "-1" href = "#!/radio-with-input">With Input</a>
				      </li>
				      
				      <li role = "presentation">
				         <a role = "menuitem" tabindex = "-1" href = "#!/radio-with-textarea">With Textarea</a>
				      </li>
				   </ul>
				</div>
		    </div>
		    <div class="btn-group">
		    		<a href="#!/input" type="button" class="btn btn-default">Input</a>
		    </div>
		    <div class="btn-group">
		    		<a href="#!/textarea" type="button" class="btn btn-default">Textarea</a>
		    </div>
		</div>
	</div>
</div>