<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    	<div class="btn-group btn-group-justified">
		    <div class="btn-group">
		    		<a href="/" type="button" class="btn btn-default">Home</a>
		    </div>
		    <div class="btn-group">
		        <a href="#!/checkbox" type="button" class="btn btn-default">Checkbox</a>
		    </div>
		    <div class="btn-group">
		        <a href="#!/radio" type="button" class="btn btn-default">Radio Button</a>
		    </div>
		    <div class="btn-group">
		    		<a href="#!/input" type="button" class="btn btn-default">Input</a>
		    </div>
		</div>
	</div>
</div>