<div class="row" ng-controller="CheckboxController as form">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
		
    		<h2>Hello from, Checkboxes</h2>
    		<div>{{form.data}}</div>
    		<br>
    		<br>
    		<form role = "form">
    			
		   <div class = "form-group">
		      <label for = "name">Field Name</label>
		      <input type = "text" ng-model="form.data.fieldName" class = "form-control" placeholder = "Enter Name">
		   </div>
		   <div class = "form-group">
		      <label for = "name">Field Helper Description</label>
		      <input type = "text" ng-model="form.data.fieldHelperDescription" class = "form-control" placeholder = "Enter Helper Description">
		   </div>
		   <div class = "form-group">
		      <label for = "name">Field Attribute</label>
		      <input type = "text" ng-model="form.data.fieldAttribute" class = "form-control" placeholder = "Enter Field Attribute">
		   </div>
		   <b>Field Values</b>
		   <div class = "row" ng-repeat="count in form.transient.counts track by $index">
		   		<div class="col-xs-12 col-md-6">
		   			<div class = "form-group">
		      			<label for = "name"></label>
		      			<input type = "text" ng-model="form.data.values[$index]" class = "form-control" placeholder = "Enter Field Attribute">
		   			</div>
		   		</div>
		   		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-1" ng-if="$index>0">
					<div class="form-group">
						<label>Remove</label>
						<br>
					   <button type="button" class="btn btn-default" ng-click="form.takeOut($index)">
	 						<i class="fa fa-minus text-danger"></i>
     				   </button>
					</div>
				</div>
		   </div>
		   <div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-default" ng-click="form.addValue()">
						<i class="fa fa-plus"></i> <span id="addText">Add</span>
					</button>
				</div>
		   </div>
		   <div class = "checkbox">
   		   	  <label>
      			<input type="checkbox" name="other" ng-model="form.data.other" ng-true-value="'yes'" ng-false-value="'no'"> Other
   			  </label>
		   </div>
		   <div class = "radio">
			   <label>
			      <input type = "radio" ng-model="form.data.fieldRequired" name = "fieldRequired" value = "yes"> 
			      Required
			   </label>
		  </div>

		  <div class = "radio">
		  	<label>
				<input type = "radio" ng-model="form.data.fieldRequired" name="fieldRequired" value = "no">
			    Non-Required
			   </label>
		  </div>
		  <div class = "form-group" ng-if="form.data.fieldRequired=='yes'">
		      <label for = "name">Error Message</label>
		      <input type = "text" ng-model="form.data.fieldRequiredErrorMessage" class = "form-control" placeholder = "Enter error message">
		   </div>
		   
		   <button type = "button" ng-click="form.submit()" class = "btn btn-default">Submit</button>
		   <button type = "button" ng-click="form.demo()" class = "btn btn-default">Demo</button>
		</form>
		<script type="text/ng-template" id="demo.html">
        		<div class="modal-header">
            		<h3 class="modal-title">Demo</h3>
        		</div>
        		<div class="modal-body">
            		<form role = "form">
					<label>{{formData.fieldName}}</label>
					<span>
      					({{formData.fieldHelperDescription}})
					</span>
					<span class="text-danger" ng-if="error">{{formData.fieldRequiredErrorMessage}}</span>
		   			<div class = "form-group" ng-repeat="count in transient.counts track by $index">
		      			<div class = "radio">
   							<label>
								
      							<input type = "checkbox" ng-model="form.attr" name = "values" value = "{{formData.values[$index]}}"> {{formData.values[$index]}}
   							</label>
						</div>
					</div>
					<div class = "form-group" ng-if="formData.other=='yes' && form.attr=='other'">
      					<label for = "name">Other</label>
      					<input type = "text" ng-model="formData.otherValue" class = "form-control" placeholder = "">
   					</div>
				</form>
				Field: {{field}}
				<br>
				<b>Form</b>
				<br>
				{{form}}
       		</div>
			<div class="modal-footer">
				<button class="btn btn-default pull-left" type="button" ng-click="save()">Save</button>
            		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            	</div>
    		</script>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>