`<!-- jQuery -->
<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>

<!-- Custom Fonts -->
<link href="/library/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    
<!-- AngularJS -->
<script th:src="@{/bower_components/angular/angular.js}"></script>
<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
<script th:src="@{/bower_components/angular-animate/angular-animate.js}"></script>
<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>

<!-- app setup -->
<script th:src="@{/form_creator/app.module.js}"></script>
<script th:src="@{/form_creator/app.state.js}"></script>
<script th:src="@{/form_creator/app.constants.js}"></script>

<!-- checkboxes -->
<script th:src="@{/form_creator/checkboxes/form.state.js}"></script>
<script th:src="@{/form_creator/checkboxes/form.controller.js}"></script>
<script th:src="@{/form_creator/checkboxes/form.service.js}"></script>

<!-- checkboxes with input -->
<script th:src="@{/form_creator/checkboxes-with-input/form.state.js}"></script>
<script th:src="@{/form_creator/checkboxes-with-input/form.controller.js}"></script>
<script th:src="@{/form_creator/checkboxes-with-input/form.service.js}"></script>

<!-- radiobtns -->
<script th:src="@{/form_creator/radiobtns/form.state.js}"></script>
<script th:src="@{/form_creator/radiobtns/form.controller.js}"></script>
<script th:src="@{/form_creator/radiobtns/form.service.js}"></script>

<!-- radiobtns with textarea -->
<script th:src="@{/form_creator/radiobtns-with-textarea/form.state.js}"></script>
<script th:src="@{/form_creator/radiobtns-with-textarea/form.controller.js}"></script>
<script th:src="@{/form_creator/radiobtns-with-textarea/form.service.js}"></script>

<!-- input -->
<script th:src="@{/form_creator/input/form.state.js}"></script>
<script th:src="@{/form_creator/input/form.controller.js}"></script>
<script th:src="@{/form_creator/input/form.service.js}"></script>

<!-- textarea -->
<script th:src="@{/form_creator/textarea/form.state.js}"></script>
<script th:src="@{/form_creator/textarea/form.controller.js}"></script>
<script th:src="@{/form_creator/textarea/form.service.js}"></script>

<!-- demo -->
<script th:src="@{/form_creator/demo/form.state.js}"></script>
<script th:src="@{/form_creator/demo/form.controller.js}"></script>
<script th:src="@{/form_creator/demo/form.service.js}"></script>

<!-- demo.input -->
<script th:src="@{/form_creator/demo/input/form.controller.js}"></script>
<!-- demo.textarea -->
<script th:src="@{/form_creator/demo/textarea/form.controller.js}"></script>
<!-- demo.radiobtns -->
<script th:src="@{/form_creator/demo/radiobtns/form.controller.js}"></script>
<!-- demo.checkboxes -->
<script th:src="@{/form_creator/demo/checkboxes/form.controller.js}"></script>

<!-- textarea -->
<script th:src="@{/form_creator/form/form.controller.js}"></script>
<script th:src="@{/form_creator/form/form.service.js}"></script>
