<div class="row" ng-controller="DemoTextAreaController as form">
	<div class="col-xs-12 col-md-12">
		<form role = "form">
   			<div class = "form-group">
      			<label for = "name">{{form.data.fieldQuestion}}</label> <span class="text-danger" ng-if="error">{{form.data.fieldRequiredErrorMessage}}</span>
      			<textarea ng-model="field" class = "form-control" rows="4" cols="50"></textarea>
   				<span class = "help-block">
    						{{form.data.fieldHelperDescription}}
				</span>
			</div>
		</form>
<!-- 		Field: {{field}}
		<br>
		<b>Form</b>
		<br>
		<pre>{{form | json}}</pre> -->
	</div>
</div>
<br>