<!-- jQuery -->
<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
 

<!-- AngularJS -->
<script th:src="@{/bower_components/angular/angular.js}"></script>
<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>

<!-- app setup -->
<script th:src="@{/app.module.js}"></script>
<script th:src="@{/app.state.js}"></script>
<script th:src="@{/app.controller.js}"></script>

<!-- controllers -->
<script th:src="@{/profile/controller.js}"></script>
<script th:src="@{/reading/controller.js}"></script>
<script th:src="@{/payment/controller.js}"></script>
<script th:src="@{/career/controller.js}"></script>

<!-- form -->
<!-- <script th:src="@{/form/form.state.js}"></script>
<script th:src="@{/form/form.controller.js}"></script>
<script th:src="@{/form/form.service.js}"></script> -->

