<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header"></head>
<header th:include="navbar"></header>
<style>
.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}
</style>
<body>
	<h1 style="text-align: center;">Javascript</h1>
	<div id="elem">
		<div id="elem-content">Element</div>
	</div>

	<table id="table">
		<tr>
			<td>Your age:</td>

			<td>
				<label> 
					<input type="radio" name="age" value="young" checked="checked"/> less than 18
				</label> 
				<label> 
					<input type="radio" name="age" value="mature"/> from 18 to 50
				</label> 
				<label> 
					<input type="radio" name="age" value="senior"/> more than 60
				</label>
			</td>
		</tr>
	</table>
	
	<form name="my-form">
  		<div class="article">Article</div>
  		<div class="long article">Long article</div>
	</form>
	
	<ul>
  		<li>The</li>
  		<li>test</li>
	</ul>
	<ul>
	  <li>has</li>
	  <li>passed</li>
	</ul>
	
	<h1>Contents</h1>

	<div class="contents">
	  <ul class="book">
	    <li class="chapter">Chapter 1</li>
	    <li class="chapter">Chapter 2</li>
	  </ul>
	</div>
	
	<div id="outer">Hello <b>World</b></div>
	
	<div id="news">
  		<h1>Headline!</h1>
  		<p>Martians attack people!</p>
	</div>
	
	<div id="hidden" hidden="true">With the attribute "hidden"</div>
	
	<!-- Attributes -->
	<div id="customAttribute" color="blue">Blue</div>
	
	<ol id="list">
  		<li>0</li>
  		<li>1</li>
  		<li>2</li>
	</ol>
	
	<p>Somewhere in the page...</p>
	<script>
  		document.write('<b>Hello from JS</b>');
	</script>
	<p>The end</p>
	
</body>
<footer th:include="footer"></footer>
</html>