<div class="row" ng-controller="NavbarController as navbar">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    	<div class="btn-group btn-group-justified">
		    <div class="btn-group">
		        <button ui-sref="home()" type="button" class="btn btn-primary">Home</button>
		    </div>
		    <div class="btn-group">
		        <button ui-sref="form-input()" type="button" class="btn btn-primary">Form Input</button>
		    </div>
		    <div class="btn-group">
		        <button ui-sref="form-upload-download()" type="button" class="btn btn-primary">Form Upload Download</button>
		    </div>
		    <div class="btn-group">
		        <button ui-sref="form-input()" type="button" class="btn btn-primary">Form</button>
		    </div>
		    <div class="btn-group">
		        <button type="button" class="btn btn-primary">Stomp</button>
		    </div>
		    
		</div>
	</div>
</div>