<!-- jQuery -->
<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>


<!-- AngularJS -->
<script th:src="@{/bower_components/angular/angular.js}"></script>
<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>

<!-- app setup -->
<script th:src="@{/app.module.js}"></script>
<script th:src="@{/app.state.js}"></script>
<script th:src="@{/app.constants.js}"></script>
<script th:src="@{/navbar.js}"></script>

<!-- home -->
<script th:src="@{/home/home.state.js}"></script>
<script th:src="@{/home/home.controller.js}"></script>

<!-- form input -->
<script th:src="@{/form-input/form.state.js}"></script>
<script th:src="@{/form-input/form.controller.js}"></script>
<script th:src="@{/form-input/form.service.js}"></script>

<!-- form upload & download -->
<script th:src="@{/form-upload-download/form.state.js}"></script>
<script th:src="@{/form-upload-download/form.controller.js}"></script>
<script th:src="@{/form-upload-download/form.service.js}"></script>
